module zapret 1.0;

require {
    type systemd_homed_t;
    type init_t;
    type user_tmp_t;
    type var_t;
    type home_root_t;
    class dir { read getattr search };
    class file { execute execute_no_trans entrypoint open map };
    class lnk_file read;
    class process execmem;
    class rawip_socket { create setopt };
}

#============= init_t ==============
allow init_t self:process execmem;
allow init_t self:rawip_socket { create setopt };
allow init_t user_tmp_t:file { execute execute_no_trans entrypoint open map };
allow init_t user_tmp_t:lnk_file read;

#============= systemd_homed_t ==============
allow systemd_homed_t home_root_t:dir { read getattr search };
allow systemd_homed_t var_t:dir { read getattr search };
